MOODLE_MYSQL_USER=moodle
MOODLE_MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
MOODLE_DB_HOST=db
MOODLE_DB_NAME=moodle

MOODLE_ADMIN=admin
MOODLE_ADMIN_PASSWORD=password

MOODLE_URL=localhost
PHPMYADMIN_URL=phpmyadmin.localhost

MOODLE_EMAIL=example@example.com